<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="service-box">
                                <div class="service-icon">
                                    <h2 style="color: #FFFFFF">Visites</h2>
                                </div>
                                <div class="service-desc">
                                    <address>Rendez-vous tous les jeudis et samedis, à 14h00 à l'entrée du Fort, ainsi que sur rendez-vous.</address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <div class="service-box">
                                <div class="service-icon">
                                    <h2 style="color: #FFFFFF">Besoins</h2>
                                </div>
                                <div class="service-desc">
                                    <address>
                                        Les travaux étant d'envergure, nous sommes toujours à la recherche de bonnes volontés pour nous aider mais nous recherchons également du matériel afin de pouvoir avancer dans de bonnes conditions. C'est pourquoi, si vous avez du matériel qui ne vous est plus utile, ou que vous seriez prêt à nous prêter, n'hésitez pas à nous contacter pour nous en faire part.
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <div class="service-box">
                                <div class="service-icon">
                                    <h2 style="color: #FFFFFF">Partenaires</h2>
                                </div>
                                <div class="service-desc">
                                    <address>Nous remercions la ville de Mundolsheim et le Conseil Départemental du Bas-Rhin  pour leur soutien.</address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wow fadeInRight" data-wow-delay="0.2s">
                            <div class="service-box">
                                <div class="service-icon">
                                    <h2 style="color: #FFFFFF">Contact</h2>
                                </div>
                                <div class="service-desc">
                                    <div class="widget-contact">

                                        <address>
                                            <strong>Adresse</strong><br>
                                            Rue du Fort Ducrot<br>
                                            67450 MUNDOLSHEIM<br>
                                        </address>

                                        <address>
                                            <strong>Adresse Administrative</strong><br>
                                            3 Rue des Fleurs<br>
                                            67450 MUNDOLSHEIM
                                        </address>

                                        <address>
                                            <strong>E-Mail</strong><br>
                                            fortducrot@gmail.com
                                        </address>

                                        <address>
                                            <strong>Téléphone</strong><br>
                                            06 36 99 19 55
                                        </address>

                                        <address>
                                            <strong>Nous sommes également sur les réseaux sociaux</strong><br>
                                            <ul class="company-social">
                                                <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                            </ul>
                                        </address>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wow shake" data-wow-delay="0.4s">
                    <div class="page-scroll marginbot-30">
                        <a href="#intro" id="totop" class="btn btn-circle">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
                    </div>
                </div>
                <p>&copy;FortDucrot. Tout droit réservé.</p>
            </div>
        </div>
    </div>
</footer>