{% extends 'layout.html.twig' %}

{% block title %}Fort Ducrot Mundolsheim - Fort{% endblock %}

{% block contenu %}

    <!-- Section: introfort -->
    <section id="introfort" class="intro">
        <div class="page-scroll">
            <a href="#fort" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>

    </section>
    <!-- /Section: introassoc -->

    <!-- Section: fort -->
    <section id="fort" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h1>
                                    Le Fort Ducrot et son histoire
                                </h1>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom: 15px">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-desc">
                                <p>
                                    La rapidité de la chute de Strasbourg le 28 septembre 1870, après un siège de 46 jours, incita l’Etat Major Allemand sous la direction des Généraux Von Moltke et Von Kameke à élaborer rapidement un plan de défense des frontières ouest de l’Empire nouvellement crée et qui devait transformer les villes de Cologne, Metz, Thionville et Strasbourg en camp retranché.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-desc">
                                <p>
                                    Les études s’inspirèrent des modèles de forts inters-armes déjà construits en Allemagne par le Général Biehler mais également du système défensif dont se dotait la France au même moment avec le Général Séré de Rivières.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-box">
                            <div class="service-desc">
                                <p>
                                    C’est ainsi que Strasbourg va être dotée d’une ceinture d’ouvrages détachés, puissamment armés et fortifiés.
                                    Le projet initial prévoyait la construction de 36 forts, mais reculant devant une telle dépense, les Prussiens ramenèrent le projet à 14 forts.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /Section: fort -->

    <!-- Section: pourquoi -->
    <section id="pourquoi" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Pourquoi Mundolsheim ?</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Pour l’Etat-major Impérial, il fut tenu compte des enseignements du siège de 1870 (l’Etat-major du Général Von Werder occupa Mundolsheim lors du siège) et des contraintes qu’imposait la géographie des environs de Strasbourg. Les collines ou les "hauteurs de Hausbergen" donnaient à l’adversaire d’excellentes positions d’artillerie. Aussi fut-il très rapidement décidé de les intégrer dans le nouveau dispositif de défense.</p>
                    <p>Les sites retenus pour la construction de forts détachés sur ces hauteurs de Hausbergen sont compris entre 6400 m à vol d’oiseau de la cathédrale pour le plus proche (Oberhausbergen - Fort Von Baden- Frère)et 7350 m pour le plus éloigné (Mundolsheim - Fort Podbielski - Ducrot).</p>

                    <p>
                        Leurs missions étaient, compte tenu de la portée de l’artillerie de l’époque :
                        <ul class="list-group">
                            <li class="list-group-item">Obliger l’assaillant à s’établir au-delà de la portée de l’artillerie</li>
                            <li class="list-group-item">Protéger les voies de communication : routes, canaux et voies ferrées</li>
                            <li class="list-group-item">S’établir en tête de pont sur les grands courants d’eaux et sur les zones inondables</li>
                            <li class="list-group-item">Appuyer de leurs feux les mouvements de troupes de la garnison de la Ville et de leur offrir un refuge en cas de repli</li>
                            <li class="list-group-item">S’appuyer mutuellement entre eux en cas d’attaque (la distance entre les forts oscillera entre 1000m et 4000m</li>
                        </ul>
                    </p>

                    <p>
                        Pour notre secteur et pour éviter que l’ennemi ne soit tenté de contourner les hauteurs de Hausbergen et d’attaquer Strasbourg par son front nord, les Prussiens ont construit le fort de Reichstett (Moltke-Rapp), un fort au nord-ouest de Souffelweyersheim (Roon-Desaix) ayant pour mission d’empêcher d’occuper Mundolsheim mais aussi de contrôler la route de Brumath, les voies de chemin de fer et le canal de la Marne au Rhin, et enfin celui de Mundolsheim(Podbielski-Ducrot) qui devait couvrir les voies de communication vers le nord, le flanc nord-ouest, les voies de chemin de fer à l’Est mais surtout empêcher l’adversaire de s’implanter sur les hauteurs du village.
                    </p>

                    <p>
                        Notre fort s’appellera à l’origine Festung Mundolsheimer Kopf jusqu’au 29 Août 1882 où l’AKO (Allerhöchste Kabinett Order) le baptisa officiellement Festung PODBIELSKI.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: pourquoi -->

    <!-- Section: podbielsky -->
    <section id="podbielsky" class="home-section text-center bg-gray">

        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h1>
                                    Festung PODBLIELSKI – Fort DUCROT
                                </h1>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Le Fort Poblielski-Ducrot est plutôt considéré comme un petit fort, mais qui comporte quelques particularités, comme être le dernier fort construit de la ceinture de Strasbourg. Construit de 1879 à 1882 à une centaine de mètres de l’Eglise Protestante, sur une remarquable position naturelle. Il a été renforcé de 1887 à 1890 et transformé de nouveau en 1893.</p>
                    <p>Ses particularités ont été le renforcement après 1911 par une casemate unique de flanquement ouest, reliée au fort par une galerie bétonnée et dotée de 2 canons et d’une autre casemate de flanquement est, au dessus de l’actuelle rue des acacias, abritant également 2 canons.</p>
                    <p>
                        Autre particularité : la couverture de la façade du fort par une carapace en béton en 1936 en raison de l’intégration du fort dans la ligne Maginot et par son aménagement en poste de commandement de la 103ème division d’infanterie de Forteresse.
                    </p>
                    <p>Pendant de longs mois, le chemin reliant le Fort Podbielski-Ducrot à la Batterie des cerisiers et au fort Kronprinz-Foch était camouflé par des bâches pour empêcher la vue de la circulation des véhicules militaires à partir de la Forêt Noire.</p>

                    <p>En 1945, il servira de cantonnement aux soldats Américains de la VII armée et à ceux de la 3ème DIA, jusqu’à la contre offensive menée contre la poche de Gambsheim.</p>

                    <p>Après un longue période d’abandon par l’armée, la commune de Mundolsheim en a fait l’acquisition dans les années 1990 (90000 francs) pour le sécuriser, mais ne purent empêcher la dégradation des bâtiments par des ferrailleurs peu scrupuleux, par des squatters, des groupuscules, tagant, détruisant les murs, arrachant les grilles, mais aussi par le temps qui passe(mousse, arbustes, lierres, etc...)</p>

                    <p>
                        Le 6 mars 2010, l’association "Les amis du fort Podbielski-Ducrot" nouvellement créée le le 23 février 2010 sous l’impulsion de JM PFINDEL entama les travaux de rénovation et de réhabilitation du Fort, avec l’aide de la municipalité, sous le mandat de Norbert REINHARDT.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!-- /Section: podbielsky -->

{% endblock %}

{% block fleche_footer %}#introfort{% endblock %}