{% extends 'layout.html.twig' %}

{% block title %}Fort Ducrot Mundolsheim - Gallerie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block contenu %}
<!-- Section: actualite -->
<section id="gallerie" class="home-section text-center">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.2s">
                        <div class="section-heading">
                            <p></p>
                            <p></p>
                            <h2 style="color: white">{{ gallerie.name }}</h2>
                            <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div id="content_gallery" class="row">

            {% set delay = 0.2 %}
            {% for galleryHasMedia in gallerie.galleryHasMedias %}

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 thumb" data-wow-delay="{{ delay }}s">
                    <a href="{% path galleryHasMedia.media, 'big' %}" class="fancybox" rel="ligthbox">
                        {% thumbnail galleryHasMedia.media, 'middle' with {'class': 'zoom img-fluid'}%}
                    </a>
                </div>

                {% set delay = delay + 0.2 %}

            {% endfor %}
        </div>
    </div>
</section>
<!-- /Section: actualite -->

{% endblock %}
