{% extends 'layout.html.twig' %}

{% block title %}Fort Ducrot Mundolsheim - Galleries{% endblock %}

{% block contenu %}
<!-- Section: actualite -->
<section id="gallerie" class="home-section text-center" style="margin-top: 50px;">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Galerie photos</h2>
                            <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            {% set delay = 0.2 %}
            {% for gallerie in galleries %}

                <a href="{{ path('showGallerie', { 'id': gallerie.id }) }}">
                    <div class="col-md-3">
                        <div class="wow bounceInUp" data-wow-delay="{{ delay }}s">
                            <div class="team boxed-grey">
                                <div class="inner">
                                    <h5>{{ gallerie.name }}</h5>
                                    <p class="subtitle">{{ gallerie.updatedAt|date('d/m/Y') }}</p>
                                    <div>
                                        {% media gallerie.galleryHasMedias|first.media, 'small' with {'sizes': '(min-width: 20em) 50vw, 100vw'} %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                {% set delay = delay + 0.2 %}

            {% endfor %}
        </div>
    </div>
</section>
<!-- /Section: actualite -->

{% endblock %}

{% block fleche_footer %}#gallerie{% endblock %}