{% extends 'layout.html.twig' %}

{% block contenu %}
    <!-- Section: intro -->
    <div id="carouselIntro" class="intro carousel-auto slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carouselIntro" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIntro" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner slide-section" role="listbox">

            <section class="intro item active no-gutter" style="background: url(../img/fort-cours1.jpg);background-repeat: no-repeat;background-size: 100% 100%;">

                <div class="slogan">
                    <h2>FORT PODBIELSKI<span class="text_color"> DUCROT</span> </h2>
                    <h2>MUNDOLSHEIM</h2>
                    <a href="https://www.facebook.com/pages/Fort-IIIa-PODBIELSKI-fort-Ducrot/152901354769096?fref=ts" target="_blank" class="btn btn-primary btn-large" style="font-weight: 300; min-height: 0px; min-width: 0px; line-height: 19px; border-width: 2px; margin-top: 100px; padding: 9px 14px; letter-spacing: 0px; font-size: 16px;">NOUS REJOINDRE SUR FACEBOOK</a>
                </div>

                <div class="page-scroll">
                    <a href="#contact" class="btn btn-circle">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>

            </section>

            <section class="intro item no-gutter" style="background: url(../img/fort-cours2.jpg);background-repeat: no-repeat;background-size: 100% 100%;">
                <div class="slogan">
                    <h2>FORT PODBIELSKI<span class="text_color"> DUCROT</span> </h2>
                    <h2>MUNDOLSHEIM</h2>
                    <a href="https://www.facebook.com/pages/Fort-IIIa-PODBIELSKI-fort-Ducrot/152901354769096?fref=ts" target="_blank" class="btn btn-primary btn-large" style="font-weight: 300; min-height: 0px; min-width: 0px; line-height: 19px; border-width: 2px; margin-top: 100px; padding: 9px 14px; letter-spacing: 0px; font-size: 16px;">NOUS REJOINDRE SUR FACEBOOK</a>
                </div>

                <div class="page-scroll">
                    <a href="#contact" class="btn btn-circle">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </section>


        </div>

        <a class="left carousel-control" href="#carouselIntro" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="right carousel-control" href="#carouselIntro" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>

    </div>

    <!-- Section: actualite -->
    <section id="actualite" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Dernières actualités</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>Anna Hanaceck</h5>
                                <p class="subtitle">Pixel Crafter</p>
                                <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.5s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>Maura Daniels</h5>
                                <p class="subtitle">Ruby on Rails</p>
                                <div class="avatar"><img src="img/team/2.jpg" alt="" class="img-responsive img-circle" /></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.8s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>Jack Briane</h5>
                                <p class="subtitle">jQuery Ninja</p>
                                <div class="avatar"><img src="img/team/3.jpg" alt="" class="img-responsive img-circle" /></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="1s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>Tom Petterson</h5>
                                <p class="subtitle">Typographer</p>
                                <div class="avatar"><img src="img/team/4.jpg" alt="" class="img-responsive img-circle" /></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: actualite -->

    <!-- Section: contact -->
    <section id="contact" class="home-section text-center">
        <div class="heading-contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Contact</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="boxed-grey">

                        <div id="sendmessage">Votre message a bien été envoyé. Merci!</div>
                        <div id="errormessage"></div>
                        <form id="contact-form" action="" method="post" role="form" class="contactForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Nom</label>
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">
                                            Adresse email</label>
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Votre email" data-rule="email" data-msg="Please enter a valid email" />
                                            <div class="validation"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="subject">
                                            Sujet</label>
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Message</label>
                                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="" placeholder="Message"></textarea>
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                                        Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /Section: contact -->

{% endblock %}