{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'membre/layout.html.twig' %}

{% block content %}
    <h1>Membre creation</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <button class="btn btn-sm btn-success" type="submit">
            <i class="fa fa-save"></i>&nbsp;Créer</button>

    {{ form_end(form) }}

    <p></p>
    <a href="{{ path('membre_index') }}">
        <i class="fa fa-reply"></i>Retour</a>
{% endblock %}
